$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;

$cards-gutter: 30px;

$white: #fff;
$light-grey: #ccc;
$dark-grey: #333;
$black: #000;

$dip-article-block-bg-color: $light-grey;
$dip-article-block-text-color: $dark-grey;
$dip-article-block-text-contrast-color: $white;
$dip-article-block-post-format-bg-color: $white;
$dip-article-block-post-format-text-color: $dark-grey;
$dip-article-block-bg-shadow: rgba($black, 0.5);
$dip-article-block-status-bg-color: $dark-grey;
$dip-article-block-status-text-color: $white;
